
@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-bg1 hero-overly slider-height d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-12">
                        <div class="hero__caption text-center">
                            <h1 data-animation="bounceIn" data-delay="0.2s">Drone Fotoğraf <br> & Video Çekimleri</h1>
                            <p data-animation="fadeInUp" data-delay="0.4s">
                                Kendi projen için istediğin gün doğumu,gün batımı ya da şehir manzaralarını senin için hazırlayabiliriz.
                                Haydi sen de projeni bize yolla çalışmaya başlayalım.
                            </p>
                            <a href="#" class="hero-btn" data-animation="fadeInUp" data-delay="0.7s">Projeleri Keşfet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="about-low-area section-padding30">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <h2> Drone<br> Fotoğraf Çekimi</h2>
                    </div>
                    <p class="about-cap-top">
                        Drone kullanarak eşsiz şehir manzaları yakalıyoruz.
                    </p>
                    <p>
                        Çektiğimiz bu görüntülerle senin için bir fotoğraf albümü ya da video oluşturabilirz.Website'si ya da portfolyo için kullanabileceğin hazır görüntüler sunuyoruz.
                    </p>
                    <a href="#" class="btn black-btn">Projeleri Keşfet</a>
                </div>
            </div>
            <div class="offset-xl-0 col-xl-6 offset-lg-0 col-lg-6 col-md-9 offset-md-1 offset-sm-1">
                <div class="about-right-cap">
                    <div class="about-right-img">
                        <img src="~/dronephotography-main/assets/img/gallery/about1.png" alt="">
                    </div>
                    <div class="img-cap">
                        <span>20</span>
                        <p>Yıllık Tecrübe</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<div class="container">
    <div class="video-contents">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-5 col-md-10">
                <div class="section-tittle  mb-90">
                    <h2>Nasıl Çalışıyoruz</h2>
                    <p class="tittle-pera1">Projeni bize anlat</p>
                    <p>Bizimle paylaştığın projene göre sana fotoğraf ve video çekimi yapmaya başlayalım.</p>
                    <a href="#" class="btn black-btn">Projeni Başlat</a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="edu-details">
                    <!-- single-item -->
                    <div class="single-items mb-50">
                        <span>Bize Projenden Bahset</span>
                        <p>Nasıl bir proje istediğini aklında neler olduğunu anlat</p>
                    </div>
                    <!-- single-item -->
                    <div class="single-items single-items2 mb-50">
                        <span>Uçuş Takvimi Hazırlama</span>
                        <p>Senin çekimlerin bir bir tavkim oluşturalım</p>
                    </div>
                    <!-- single-item -->
                    <div class="single-items single-items3 mb-50">
                        <span>Uçuşların gerçekleştirilmesi</span>
                        <p>Takvimde belirlediğimiz tarih ve saatlerde uçuşunu yapıp görüntülerini hazırlayalım</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="visit-tailor-area fix">
    <!--Right Contents  -->
    <div class="tailor-offers"></div>
    <!-- left Contents -->
    <div class="tailor-details">
        <h2>Geçmiş Projeler</h2>
        <p>
            Kendi projen için örnek oluşturabilecek
            geçmişte yaptığımızı bazı projelere göz at!
        </p>
        <p class="pera-bottom">Kendi projen için istediğin gündoğumu,günbatımı ya da şehir manzaralarını senin için hazırlayabiliriz.Haydi sen de projeni bize yolla çalışmaya başlayalım.</p>
        <a href="#" class="btn black-btn">Projelere Göz At</a>
    </div>
</div>



