
@{
    ViewBag.Title = "_UILayout";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Drone Photography</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/dronephotography-main/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/gijgo.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/animated-headline.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/slick.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/dronephotography-main/assets/css/style.css">
</head>

<div class="header-area header-transparent">
    <div class="main-header ">
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="index.html"><img src="~/dronephotography-main/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/Default/Default">Anasayfa</a></li>
                                        <li><a href="/About/About">Hakkımızda</a></li>
                                        <li><a href="/Project/Project">Projeler</a></li>
                                        <li><a href="/Contact/Contact">İletİşİm</a></li>
                                        <!-- Header btn -->
                                        <li>
                                            <div class="header-right-btn ml-40">
                                                <a href="#" class="btn"><img src="~/dronephotography-main/assets/img/icon/smartphone.svg" alt="">(541) 000-00-00</a>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderBody()
<!-- JS here -->
<div class="footer-bottom-area">
    <div class="container">
        <div class="footer-border">
            <div class="row">
                <div class="col-xl-12 ">
                    <div class="footer-copy-right text-center">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved 
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/dronephotography-main/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="~/dronephotography-main/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="~/dronephotography-main/assets/js/popper.min.js"></script>
<script src="~/dronephotography-main/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="~/dronephotography-main/assets/js/owl.carousel.min.js"></script>
<script src="~/dronephotography-main/assets/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="~/dronephotography-main/assets/js/wow.min.js"></script>
<script src="~/dronephotography-main/assets/js/animated.headline.js"></script>
<script src="~/dronephotography-main/assets/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="~/dronephotography-main/assets/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="~/dronephotography-main/assets/js/jquery.nice-select.min.js"></script>
<script src="~/dronephotography-main/assets/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="~/dronephotography-main/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="~/dronephotography-main/assets/js/jquery.counterup.min.js"></script>
<script src="~/dronephotography-main/assets/js/waypoints.min.js"></script>
<script src="~/dronephotography-main/assets/js/jquery.countdown.min.js"></script>
<script src="~/dronephotography-main/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="~/dronephotography-main/assets/js/contact.js"></script>
<script src="~/dronephotography-main/assets/js/jquery.form.js"></script>
<script src="~/dronephotography-main/assets/js/jquery.validate.min.js"></script>
<script src="~/dronephotography-main/assets/js/mail-script.js"></script>
<script src="~/dronephotography-main/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="~/dronephotography-main/assets/js/plugins.js"></script>
<script src="~/dronephotography-main/assets/js/main.js"></script>
