
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="slider-area2 ">
    <div class="slider-height2 hero-overly d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero__caption hero__caption2">
                        <h2>Hakkımızda</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="about-low-area about-low-area2 section-padding30">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-6 col-md-10">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <h2>Drone Fotoğraf &<br> Video Çekimi</h2>
                    </div>
                    
                    <p class="about-cap-top">
                        Gökyüzünden Özel Anlar: Drone Sanatı

                    </p>
                        <p>
                            Biz, gökyüzünden özgün bakış açıları sunarak olağanüstü hikayeler yakalayan profesyonel bir drone fotoğraf ve video çekim firmasıyız.
                            İster doğa harikalarını, ister şehir dokusunu, isterseniz de özel etkinliklerinizi kaydedelim; amacımız, her karenin ötesinde izleyicilere unutulmaz bir deneyim yaşatmaktır.

                      <p></p>
                      <h3>Çeşitli Hizmetlerimiz</h3>

                            Firma olarak sunduğumuz hizmetler arasında şunlar bulunmaktadır:

                            Doğa Fotoğrafçılığı ve Video Çekimi: Doğanın eşsiz güzelliklerini yüksek çözünürlüklü görüntüler ve videolar ile ölümsüzleştiriyoruz.

                            Şehir Manzarası Çekimleri: Modern şehir dokularını ve mimari harikalarını drone ile çekerek özgün bir bakış açısı sunuyoruz.

                            Etkinlik Kayıtları: Özel etkinliklerinizi, düğünlerinizi, festivallerinizi ve diğer özel günleri özel bir perspektiften kaydediyoruz.

                            Endüstriyel Çekimler: İnşaat projeleri, taşınabilir reklamlar ve endüstriyel faaliyetlere yönelik çekimlerle işletmenizin öne çıkmasını sağlıyoruz.

                            Her projede müşteri memnuniyetini ön planda tutarak, yaratıcılığımızı ve teknik bilgimizi birleştiriyoruz. Bizimle çalışan her müşteri, özel ve kaliteli hizmetimizden memnun kalarak, etkileyici bir hava çekimi deneyimi yaşamanın ayrıcalığını yaşıyor.
                        </p>
                        <a href="#" class="btn black-btn">Projeleri Keşfet</a>
                    </div>
              
            </div>
     
                <div class="offset-xl-0 col-xl-6 offset-lg-0 col-lg-6 col-md-9 offset-md-1 offset-sm-1">
                    <div class="about-right-cap">
                        <div class="about-right-img">
                            <img src="~/dronephotography-main/assets/img/gallery/section_bg03.png" alt="">
                        </div>
                    </div>
                </div>

            
      
        </div>
    </div>
</section>
